<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if (pageLayout != 'base') %}
    <title>WAS Blog - {{title}}</title>
  {% else %}
  <title>WAS Blog</title>
  {% endif %}
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
  <header class="site-header">
    <a href="/" class="site-icon">
      <svg viewBox="0 0 24 24">
        <path fill="currentColor" d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" />
      </svg>
      WAS Blog
    </a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
      </ul>
    </nav>
  </header>
  {% if (pageLayout == 'base') %}
    <main>
      <div class="banner">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
      </div>
      {{ content | safe }}
     </main> 
     {% else %}
     <main class="article-single">
      {{ content | safe }}
    </main>
  {% endif %}
</body>
</html>