---
layout: base.njk
---
{%- set tagUrl %}/tags/{{ tag }}/{% endset -%} 
<article aria-labelledby="title">
  <header>
    <h2 id="title">{{ title }}</h2>
    <time> {{ page.date | postDate }}</time>
    <div class="tags">
      <h3>Tags:</h3>
      <ul class="taglist">
        {% for tag in tags %}
          {% if tag !== 'posts' %}
            <li><a href="/tags/{{tag}}" class="post-tag">{{ tag }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </header>
  <div class="content">
      {{ content | safe }}
  </div>
</article>
