---
layout: base.njk
title: Posts
pagination:
    data: collections.posts
    alias: posts
    reverse: true
    size: 10
---
{% set pageNumber = (pagination.pageNumber + 1) %}

<h1>Archive</h1>
<div class="article-wrapper">
{% for post in posts%}
<article aria-labelledby="{{post.fileSlug}}">
    <header class="article-header">
      <h2 id="{{post.fileSlug}}">{{ post.data.title }}</h2>
    <time> {{ post.date | postDate }}</time>
    <div class="tags">
      <h3>Tags:</h3>
      <ul class="taglist">
        {% for tag in post.data.tags %}
          {% if tag !== 'posts' %}
            <li><a href="/tags/{{tag}}" class="post-tag">{{ tag }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    </header>
    <div class="content">
      <p>{{ post.data.intro }}</p>
      <a class="btn btn-link" title="Read about {{post.data.title}}" href="{{ post.url }}" aria-label="Read more about {{post.data.title}}">Read more</a>
    </div>
</article> 
{% endfor %}
</div>
<div class="pagination">
  {% if pageNumber != 1 %}
    <a class="prev" href="{{ pagination.previousPageHref }}"> &lt; Previous</a>
  {% endif %}
  {% if pagination.hrefs.length != 1%}
    <p>Page <span>{{pageNumber}} </span>of {{pagination.hrefs.length}}</p>
  {% endif %}
  {% if pageNumber != pagination.hrefs.length %}
    <a class="next" href="{{ pagination.nextPageHref }}">Next &gt;</a>
  {% endif %}
</div>