---
title: Code, Accessibility, and UX Unleashed!
layout: home.njk
description: Welcome to my web development wonderland! Let's embark on a journey through code, accessibility, UX, and more. Join me in crafting digital realms where every pixel has a purpose and every line of code tells a story. Ready for a byte-sized adventure in the world of web wizardry?
pagination: 
  data: collections.posts
  alias: posts
  reverse: true
  size: 6
---

<div class="article-wrapper">
  {% for post in posts %}
  <article aria-labelledby="{{ post.fileSlug }}" class="article">
    <a href="{{ post.url }}">
      <header class="article-header">
        <h2 id="{{ post.fileSlug }}">{{ post.data.title }}</h2>
        <time> {{ post.date | postDate }}</time>
      </header>
      <div class="content">
        <p>{{ post.data.intro }}</p>
        <p class="read-more"><strong>Read more <span class="sr-only"> about {{ post.data.title }}</span></strong></p>
      </div>
    </a>
  </article>
  {% endfor %}
</div>