---
title: Accessibility, What is that?
layout: home.njk
description: This blog is all about accessibility. What you can do, what you should'nt do, and why its important.
pagination:
  data: collections.posts
  alias: posts
  reverse: true
  size: 6
---

<div class="article-wrapper">
  {% for post in posts %}
  <article aria-labelledby="{{ post.fileSlug }}">
    <a href="{{ post.url }}">
      <header class="article-header">
        <h2 id="{{ post.fileSlug }}">{{ post.data.title }}</h2>
        <time> {{ post.date | postDate }}</time>
      </header>
      <div class="content">
        <p>{{ post.data.intro }}</p>
      </div>
    </a>
  </article>
  {% endfor %}
</div>
