---
layout: subpage.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

{% set postslistCounter = collections[tag] | length %} {% set taglist = collections[ tag ] %} {% set
pageNumber = (pagination.pageNumber + 1) %} {% set pageLayout = 'subpage' %}

<h1>
  {{ postslistCounter }} post(s) tagged <span class="tag">“{{ tag }}”</span>
</h1>
<div class="article-wrapper">
  {% for post in taglist | reverse %}
  <article aria-labelledby="{{ post.fileSlug }}">
    <a href="{{ post.url }}">
      <header class="article-header">
        <h2 id="{{ post.fileSlug }}">{{ post.data.title }}</h2>
        <time> {{ post.date | postDate }}</time>
      </header>
      <div class="content">
        <p>{{ post.data.intro }}</p>
      </div>
    </a>
  </article>
  {% endfor %}
</div>
