// .breadcrumbs {
//   ul {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;

//     padding-left: 0;

//     list-style-type: none;

//     @media (min-width: 950px) {
//       flex-direction: row;
//       align-items: flex-start;
//       justify-content: center;
//     }

//     li {
//       height: 100%;
//       width: 50%;

//       display: flex;

//       padding: 0;
//       margin: 0;

//       color: var(--clr-black);
//       font-weight: 700;

//       a {
//         // flex: 1 0 100%;
//         color: var(--clr-black) !important;
//         text-decoration: none;

//         @media (max-width: 950px) {
//           width: 100%;
//           flex: 1 0 100%;
//         }
//       }

//       @media (min-width: 950px) {
//         width: auto;
//         min-width: auto;

//         &:first-of-type {
//           a {
//             border-top-left-radius: 0.25rem;
//             border-bottom-left-radius: 0.25rem;
//           }
//         }

//         &:last-of-type {
//           border-top-right-radius: 0.25rem;
//           border-bottom-right-radius: 0.25rem;
//         }
//       }
//     }
//   }

//   .breadcrumb {
//     display: flex;

//     font-size: 1rem;

//     padding: 0.5rem;

//     background-color: var(--clr-pinkalt);

//     @media (min-width: 910px) {
//       padding: 0 3rem;

//       &:not(.breadcrumb-current) {
//         position: relative;

//         &:before {
//           content: '';

//           position: absolute;
//           top:0;
//           right: 0;
//           bottom:100%;
//           left: 99%;

//           z-index: 2;

//           border-left: 1rem solid var(--clr-pinkalt);
//           border-top: 1rem solid transparent;
//           border-bottom: 1rem solid transparent;
//         }

//         &:after {
//           content: '';

//           position: absolute;
//           right: -0.6rem;
//           left: 100%;
//           top: -0.55rem;
//           bottom: 100%;

//           z-index: 1;

//           border-left: 1.25rem solid var(--clr-black);
//           border-top: 1.5rem solid transparent;
//           border-bottom: 1.5rem solid transparent;
//         }

//       }
//     }
//   }
// }

.breadcrumbs {
  width: 100%;

  margin: 0 auto;

  ul {
    display: flex;
    flex-wrap: wrap;

    padding-left: 0;
  }

  li {
    list-style: none;

    margin-bottom: 2rem;
  }
}

.breadcrumb {
  display: flex;
  background: var(--clr-pinkalt);

  position: relative;

  color: var(--clr-black);
  font-weight: 700;

  &:first-of-type {
    padding: 0.75rem 1.5rem 0.75rem;

    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &:not(:first-of-type) {
    padding: 0.75rem 3rem;

    border-radius: 0.25rem;
  }

  &:not(.breadcrumb-current) {
    position: relative;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: -0.75rem;
      border-bottom: 1.75rem solid transparent;
      border-left: 1.75rem solid var(--clr-pinkalt);
      border-top: 1.75rem solid transparent;

      z-index: 2;
    }

    &::after {
      content: '';

      position: absolute;
      top: -1rem;
      right: -1.75rem;
      border-bottom: 2.75rem solid transparent;
      border-left: 2.75rem solid var(--clr-black);
      border-top: 2.75rem solid transparent;

      z-index: 1;
    }

    // &:hover, &:focus {
    //   background-color: var(--clr-yellow);
    //   &::after, &::before {
    //     border-
    //   }
    // }
  }

  &.breadcrumb-current {
    background: var(--clr-blue);
  }

  a,
  a:visited {
    color: var(--clr-black);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--clr-black);
    }
  }
}
