.breadcrumbs {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-left: 0;

    list-style-type: none;

    @media (min-width: 950px) {
      flex-direction: row;
    }

    li {
      height: 100%;
      width: 50%;

      display: flex;

      padding: 0;
      margin: 0;

      color: var(--clr-black);
      font-weight: 700;

      a {
        // flex: 1 0 100%;
        color: var(--clr-black) !important;
        text-decoration: none;

        @media (max-width: 950px) {
          min-width: 100%;
        }
      }

      @media (min-width: 950px) {
        width: auto;
        min-width: auto;

        &:first-of-type {
          a {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
          }
        }

        &:last-of-type {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }

  .breadcrumb {
    font-size: 1rem;
    padding: 0;

    background-color: var(--clr-pinkalt);

    @media (min-width: 900px) {
      padding: 0 3rem;
    }

    &:not(.breadcrumb-current) {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        left:  0;
        top: 75%;
        bottom: -0.1rem;

        z-index: 2;

        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 2rem solid var(--clr-pinkalt);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 0.1rem;

        z-index: 1;

        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 2rem solid var(--clr-black);
      }

      @media (min-width: 950px) {
        &:before {
          top:0;
          right: 0;
          bottom:100%;
          left: 99%;

          z-index: 2;

          border-left: 1rem solid var(--clr-pinkalt);
          border-top: 1rem solid transparent;
          border-bottom: 1rem solid transparent;
        }

        &:after {
          right: -0.6rem;
          left: 100%;
          top: -0.55rem;
          bottom: 100%;

          z-index: 1;

          border-left: 1.25rem solid var(--clr-black);
          border-top: 1.5rem solid transparent;
          border-bottom: 1.5rem solid transparent;
        }
      }
    }
  }
}
