// Buttons
.btn {
  padding: 0.55rem 1rem;

  box-shadow: var(--box-shadow);

  background-color: $black;
  border-radius: 0.25rem;

  i {
    color: white;
  }

  &:hover, &:focus {
    i {
       color: $pink;
    }
  }
}
.btn-read-more {
  padding: 0.25rem 1rem;
  
  background-color: $black;
  border-radius: 25rem;

  font-weight: 700;
  text-decoration: none;

  border: 0.2rem solid transparent;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $white;
    background-color: $black;

    opacity: 0.9;
  }
}

.btns-accessibility {
  display: flex;

  padding: 0.5rem;

  position: absolute;
  bottom: -9rem;
  right: 0;

  background-color: $green;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  button {
    position: relative;

    background-color: transparent;

    span {
      display: none;

      padding: 0.25rem;

      position: absolute;
      left: -10rem;
      top: 1rem;

      text-align: right;

      background-color: $pink;
      color: $black;
      box-shadow: var(--box-shadow);

      &:after {
        content: '';

        position: absolute;
        right: -0.75rem;
        top: 0;

        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 12px solid $pink;
        border-bottom: 15px solid transparent;
      }
    }

    &:first-child {
      margin-bottom: 0.5rem;
    }

    &:hover, &:focus {
      color: $black;

      span {
        display: flex;
      }
    }
  }

  i {
    font-size: clamp(1rem, 6vw, 1.75rem);
  }
}

button {
  background-color: $black;
  border-radius: 0.25rem;
  border: none;

  max-width: 4rem;

  padding: 10px 20px;

  color: $white;
}

.btn-no-padding {
  padding: 0.25rem;
}