// Callouts & Examples

.callout {
  padding: 1rem;
  margin: 1rem 0;

  background-color: hsl(328, 31%, 75%);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);

  color: var(--clr-black);
}

.example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 1rem;
  margin-bottom: 1rem;

  background-color: var(--clr-white);
  border-radius: 0.25rem;

  box-shadow: var(--box-shadow);

  color: var(--clr-black);

  img {
    max-width: 10rem;
    border: 0;
  }

  pre {
    margin-top: 1rem;
    padding: 0.5rem;

    background-color: hsl(0deg, 0%, 8%);

    color: var(--clr-white);

    code {
      background-color: hsl(0deg, 0%, 8%);
    }
  }

  a, p > a {
    color: hsl(328, 31%, 20%);

    &:hover,
    &:focus {
      color: hsl(197, 77%, 35%);
      text-decoration: underline !important;
    }

    &.no-underline-border {
      text-decoration: none;
      
      padding: 0.25rem;
      &:hover,
      &:focus {
      border: 1px solid hsl(197, 77%, 35%);
      }
    }

    &.low-contrast-link {
      color: var(--clr-yellow);
      
      padding: 0.25rem;
      &:hover,
      &:focus {
        border: 1px solid hsl(37, 100%, 73%);
      }
    }
  }

  h2, h3, h4, h5, h6 {
    color: var(--clr-teald);
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    color: hsl(177, 55%, 25%);
    margin-top: 0;
    font-size: 2rem;
  }

  .table {
    th, td {
      border: 0.15rem solid var(--clr-black);
    }
    
  }
}

#heading-bad-example {
  color: var(--clr-teald);
  font-size: 2.25rem;
  font-weight: 700;
  font-family: var(--ff-heading);
}

// Example specific CSS
.low-contrast {
  padding: 0.5rem;

  background-color: var(--clr-yellow);
  border-radius: 0.25rem;

  color: var(--clr-pink);
}

.low-contrast-radio {
  label {
    display: inline-block;
  }
  
  input[type='radio']{
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 1rem;
    height: 1rem;

    padding: 0.5rem;

    position: relative;

    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 70%);

    &:before {
      content: '';
      position: absolute;

      width: 0.5rem;
      height: 0.5rem;

      left: 0.25rem;
      top: 0.25rem;

      background-color: var(--clr-white);
      border-radius: 50%;
    }

    &:checked:before {
      background-color: hsl(0, 0%, 70%);
      
    }


  }
}