// Callouts & Examples

.callout {
  padding: 1rem;
  margin: 1rem 0;

  background-color: $pink;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);

  color: $black;
}

.example {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin-bottom: 1rem;

  background-color: $white;
  border-radius: 0.25rem;

  box-shadow: var(--box-shadow);

  color: $black;

  img {
    max-width: 10rem;
    border: 0;
  }

  pre {
    margin-top: 1rem;
    padding: 0.5rem;

    background-color: $black;

    color: $white;

    code {
      background-color: $black;
    }
  }

  a, p > a {
    color: darken($purple, 20%);

    &:hover,
    &:focus {
      color: darken($blue, 35%);
      text-decoration: underline !important;
    }

    &.no-underline-border {
      text-decoration: none;
      
      padding: 0.25rem;
      &:hover,
      &:focus {
      border: 1px solid darken($blue, 35%);
      }
    }

    &.low-contrast {
      color: $yellow;
      
      padding: 0.25rem;
      &:hover,
      &:focus {
        border: 1px solid darken($yellow, 35%);
      }
    }
  }
}
