// Base styles
:root {
  --shadow-color: 0deg 0% 0%;

  --box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.34),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.34),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.34);

  --clr-black: hsl(0, 0%, 15%);
  --clr-pink: hsl(358, 99%, 71%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue: hsl(197, 77%, 58%);
  --clr-yellow: hsl(37, 100%, 73%);
  --clr-green: hsl(174, 79%, 43%);
  --clr-green2: hsl(144, 76%, 39%);
  --clr-purple: hsl(328, 31%, 68%);
  --clr-red: hsl(358, 99%, 60%);

  --clr-blackalt: hsl(191, 52%, 12%);
  --clr-maroon: hsl(327, 44%, 22%);
  --clr-pinkalt: hsl(334, 77%, 58%);
  --clr-whitealt: hsl(0, 0%, 80%);
  --clr-teal: hsl(177, 78%, 55%);
  --clr-teald: hsl(177, 78%, 15%);
  --clr-yellowalt: hsl(59, 100%, 75%);


--ff-heading: 'Rubik', sans-serif;
--ff-body: 'Montserrat', sans-serif;

--border-gradient: linear-gradient(
  to right,
  hsl(0, 0%, 20%),
  hsl(197, 77%, 58%),
  hsl(328, 31%, 68%),
  hsl(174, 79%, 43%),
  hsl(358, 99%, 71%),
  hsl(37, 100%, 73%),
  hsl(358, 99%, 71%),
  hsl(174, 79%, 43%),
  hsl(328, 31%, 68%),
  hsl(197, 77%, 58%),
  hsl(0, 0%, 20%)
);
}

html,
body {
  box-sizing: border-box;
}

body {
  height: 100vh;

  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: var(--ff-body);
  font-weight: 400;

  font-size: 20px;

  line-height: 2rem;
}

main {
  flex: 1 0 auto;
}

.site-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 100%;
  align-items: center;

  position: sticky;
  top: 0;

  z-index: 10;

  padding: 1rem 2rem;

  border-bottom: 0.5rem solid;
  box-shadow: var(--box-shadow);
  border-image: var(--border-gradient) 10;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 4.25rem;

    margin-right: 1rem;

    border: none;

    @media (max-width: 767px) {
      width: 3rem;
    }
  }

  a {
    display: inline-block;
    overflow: hidden;

    padding: 0.5rem 1rem;

    text-decoration: none;
    color: --clr-white;
  }

  .site-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / 2;

    font-size: clamp(1.75rem, 6vw, 2rem);

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  // Navigation
  nav {
    grid-row: 1;
    grid-column: 2 / 3;

    justify-self: flex-end;

    ul {
      display: flex;
      align-items: flex-end;

      list-style: none;

      li {
        margin-right: 1rem;
        margin-bottom: 0;

        font-weight: 700;

        a {
          padding: 1.5rem;

          overflow: hidden;
          &::before, &::after {
            content: '';

            width: 100%;
            height: 0.2rem;

            display: block;

            background: var(--clr-pink);
          }
          &::before {
            content: '';
    
            bottom: 0;
            transform:  translateX(-200%);
          }
          &::after {
            content: '';
      
            top: 0;
            transform:  translateX(200%);
          }

          &:hover::before, &:hover::after {
            transform:  translateX(0);
            transition: all 0.6s ease-in-out;
          }
        }
        
      }
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 1rem;

  text-align: center;

  p {
    margin: 0 0 0.5rem 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

// Footer Social Media List
.social-media-list {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding-left: 0;

  svg {
    height: 2.75rem;
    fill: var(--clr-blue);
  }

  li {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a {
      &:hover,
      &:focus {
        svg {
          fill: var(--clr-pink);
        }
      }
    }
  }
}

// Home page - Banner
.banner {
  min-height: 12rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 3rem 2rem 1rem 2rem;

  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner {
    max-width: 1900px;

    padding: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  }

  .article-wrapper {
    max-width: calc(100% - 3rem);
  }
}

.layout-post {
  padding: clamp(1rem, 0.636rem + 1.82vw, 2rem);

  h1 {
    margin-bottom: 0;
  }
}

.layout-subpage {
  article {
    &:only-child {
      max-width: 20rem;
    }
  }
}

.layout-home {
  .article-wrapper {
    margin: 1rem;

    justify-content: center;
  }
}

.active {
  color: -var(--clr-blue) !important;
}

.row {
  display: flex;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.list-ui {
  display: flex;

  list-style-type: none !important; 

  padding-left: 0.5rem;

  li {
    padding: 0.25rem;
    &:not(:nth-child(1)){
      margin-left: 1rem;
    }
  }
}