html,
body {
  box-sizing: border-box;

  font-size: 18px;
}

body {
  // height: 100vh;

  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: var(--ff-body);
  font-weight: 400;

  line-height: 2rem;
}

main {
  flex: 1 0 auto;

  overflow-x: hidden;
}

.site-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 100%;
  align-items: center;

  position: sticky;
  top: 0;

  z-index: 10;

  padding: 1rem 2rem;

  border-bottom: 0.5rem solid;
  box-shadow: var(--box-shadow);
  border-image: var(--border-gradient) 10;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 4.25rem;

    margin-right: 1rem;

    border: none;

    @media (max-width: 767px) {
      width: 3rem;
    }
  }

  a {
    display: inline-block;
    overflow: hidden;

    padding: 0.5rem 1rem;

    text-decoration: none;
    color: --clr-white;
  }

  .site-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / 2;

    font-size: clamp(1.75rem, 6vw, 2rem);

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  // Navigation
  nav {
    grid-row: 1;
    grid-column: 2 / 3;

    justify-self: flex-end;

    ul {
      display: flex;
      align-items: flex-end;

      margin: 0;

      list-style: none;

      li {
        margin-right: 1rem;
        margin-bottom: 0;

        font-weight: 700;

        a {
          padding: clamp(0.556rem, 0.398rem + 0.97vw, 1rem);

          overflow: hidden;
          &::before,
          &::after {
            content: '';

            width: 100%;
            height: 0.2rem;

            display: block;

            background: var(--clr-pink);
          }
          &::before {
            content: '';

            bottom: 0;
            transform: translateX(-200%);
          }
          &::after {
            content: '';

            top: 0;
            transform: translateX(200%);
          }

          &:hover::before,
          &:hover::after {
            transform: translateX(0);
            transition: all 0.6s ease-in-out;
          }
        }
      }
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 1rem;

  text-align: center;

  p {
    margin: 0 0 0.5rem 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

// Footer Social Media List
.social-media-list {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding-left: 0;

  svg {
    height: 2.75rem;
    fill: var(--clr-blue);
  }

  li {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a {
      &:hover,
      &:focus {
        svg {
          fill: var(--clr-pink);
        }
      }
    }
  }
}

// Home page - Banner
.banner {
  min-height: 12rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: clamp(1rem, 0.614rem + 2.18vw, 2rem);

  text-align: center;

  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner {
    max-width: 1900px;
    width: 95vw;

    padding: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  }
}

.layout-post {
  padding: clamp(1rem, 0.636rem + 1.82vw, 2rem);

  h1 {
    margin-bottom: 0;
  }
}

.layout-subpage {
  article {
    display: flex;
    flex-direction: column;
    &:only-child {
      max-width: 20rem;
    }
  }
}

.layout-home {
  .article-wrapper {
    margin: 1rem;

    justify-content: center;
  }
}

.row {
  display: flex;

  pre {
    margin-left: 2rem;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.list-ui {
  display: flex;

  list-style-type: none !important;

  padding-left: 0.5rem;

  li {
    padding: 0.25rem;
    &:not(:nth-child(1)) {
      margin-left: 1rem;
    }
  }
}
