// Tables
.table {
  margin-bottom: 1rem;

  border-collapse: collapse;

  thead {
    background-color: var(--clr-pink);

    color: var(--clr-black);
  }

  th,
  td {
    padding: 0.5rem;
    border: solid --clr-white 2px;
  }
}

.table-checked {
  tr td {
    &:not(:first-child) {
      text-align: center;
    }
  }
}

.table-complex {
  border-collapse: collapse;
  margin-bottom: 1rem;

  th {
    background-color: var(--clr-pink);
    color: var(--clr-black);
  }

  th, td{
    border: 0.2rem solid var(--clr-black);

    padding: 0.25rem;
  }
}

.table-colgroup{
  margin-bottom: 1rem;
  thead {
    background-color: transparent !important;
  }
  td {
    color: --clr-white;
  }
  .theader {
    background-color: var(--clr-pink);
  }
}
