.theme-dark {
  background-color: var(--clr-black);
  color: var(--clr-white);

  .site-header {
    background-color: var(--clr-black);
    color: var(--clr-white);

    a {
      &:visited {
        color: var(--clr-white);
      }

      &.active {
        color: var(--clr-yellow)
      }

      &:hover,
      &:focus {
        color: var(--clr-yellow);
      }
    }
  }

  .banner {
    background: hsl(0, 0%, 25%);
  }

  a,
  a:visited {
    color: var(--clr-yellow);
    

    &:hover,
    &:focus {
      color: var(--clr-pink);
    }
  }

  .btn-bad {
    color: var(--clr-blackalt);
    font-size: 1.25rem;

    text-decoration: none;
  }
  
  .btn-good {
    color: hsl(327, 44%, 22%);

    border: 1px solid hsl(327, 44%, 22%); 
    border-radius: 0.25rem;

    padding: 0.25rem;

    text-decoration: none;
  }

  .example {
    a {
      color: var(--clr-pinkalt);
    }
  }
}

.theme-light {
  background-color: var(--clr-white);
  color: var(--clr-black);

  .site-header {
    background-color: var(--clr-white);
    color: var(--clr-black);

    a {
      &:visited {
        color: var(--clr-black);
      }

      &:hover,
      &:focus {
        color: var(--clr-pink);
      }
    }
  }

  .banner {
    background: var(--clr-whitealt);
  }

  .example {
    background-color: var(--clr-black);
    color: var(--clr-white);
    pre,
    code {
      background-color: var(--clr-white);
      color: var(--clr-black);
    }
  }

  a,
  a:visited {
    color: var(--clr-pinkalt);

    &:hover,
    &:focus {
      color: var(--c);
    }
  }

  .theme {
    background-color: var(--clr-pink);
    color: var(--clr-black);

    &:hover,
    &:focus {
      opacity: 0.98;
    }
  }

  button {
    span {
      background-color: var(--clr-black);
      color: var(--clr-white);

      &:after {
        border-left-color: var(--clr-black);
      }
    }
  }

  &.font-lg {
    button {
      span {
        &:after {
          right: -1rem;
          border-top: 19.75px solid transparent;
          border-left: 16px solid var(--clr-black);
          border-bottom: 19.75px solid transparent;
        }
      }
    }
  }
}

.font-lg {
  line-height: 2rem;
  h1 {
    font-size: clamp(3.5rem, 6vw, 4.5rem);
  }

  h2 {
    font-size: clamp(3.25rem, 6vw, 4rem);
  }

  h3 {
    font-size: clamp(3rem, 6vw, 3.5rem);
  }

  h4 {
    font-size: clamp(2.75rem, 6vw, 3rem);
  }

  h5 {
    font-size: clamp(2.5rem, 6vw, 2.5rem);
  }

  h6 {
    font-size: clamp(2.25rem, 6vw, 2.25rem);
  }

  p {
    font-size: clamp(2rem, 6vw, 2.25rem);
  }

  ul,
  ol {
    font-size: clamp(2rem, 6vw, 2rem);
  }

  article {
    h2 {
      font-size: clamp(2.75rem, 6vw, 2.5rem);
    }

    p {
      font-size: clamp(2rem, 6vw, 2.25rem);
    }

    time {
      font-size: clamp(1.75rem, 6vw, 1.75rem);
    }

    .taglist {
      a {
        font-size: clamp(1.5rem, 6vw, 1.5rem);
      }
    }

    .tags {
      h2 {
        font-size: clamp(2.25rem, 6vw, 2.5rem);
      }

      h3 {
        font-size: clamp(1.5rem, 6vw, 1.75rem);
      }
    }

    pre {
      font-size: clamp(1.75rem, 6vw, 2rem);
    }
  }

  .btn-read-more {
    font-size: clamp(2rem, 6vw, 2rem);
  }

  .social-media-list {
    svg {
      height: 4rem;
    }
  }

  nav {
    a {
      font-size: clamp(2rem, 6vw, 2rem);
    }
  }

  button {
    max-width: 8rem;

    i {
      font-size: clamp(2rem, 6vw, 2rem);
    }

    span {
      padding: 0.3rem;
      left: -13rem;
      font-size: clamp(1.5rem, 6vw, 1.5rem);

      &:after {
        right: -1rem;
        border-top: 19.75px solid transparent;
        border-left: 16px solid var(--clr-pink);
        border-bottom: 19.75px solid transparent;
      }
    }

    &.font-size {
      background-color: var(--clr-pink);
      color: var(--clr-black);

      &:hover,
      &:focus {
        opacity: 0.98;
      }
    }
  }
}
