// Variables
$black: hsl(0, 0%, 20%);
$pink: hsl(358, 99%, 71%);
$white: hsl(0, 0%, 100%);
$blue: hsl(197, 77%, 58%);
$yellow: hsl(37, 100%, 73%);
$green: hsl(174, 79%, 43%);
$green2: hsl(144, 76%, 39%);
$purple: hsl(328, 31%, 68%);
$red: hsl(358, 99%, 60%);

$ff-heading: 'Rubik', sans-serif;
$ff-body: 'Montserrat', sans-serif;

$border-gradient: linear-gradient(
  to right,
  $black,
  $blue,
  $purple,
  $green,
  $pink,
  $yellow,
  $pink,
  $green,
  $purple,
  $blue,
  $black
);