// _src/sass/styles.scss

// Variables
$black: #333;
$pink: #fe6d73;
$white: #fef9ef;
$blue: #41b6e6;
$yellow: #ffcb77;
$green: #17c3b2;
$purple: #c794af;

$ff-heading: 'Rubik', sans-serif;
$ff-body: 'Montserrat', sans-serif;

$border-gradient: linear-gradient(
  to right,
  $black,
  $blue,
  $purple,
  $green,
  $pink,
  $yellow,
  $pink,
  $green,
  $purple,
  $blue,
  $black
);

// Base styles
:root {
  --shadow-color: 0deg 0% 0%;

  --box-shadow:
  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

html,
body {
  box-sizing: border-box;
}

body {
  height: 100vh;

  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: $ff-body;
  font-weight: 400;
  color: $white;
  font-size: 20px;

  line-height: 1.75rem;

  background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-heading;

  line-height: 1.25;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a,
a:visited {
  color: $yellow;

  &:hover,
  &:focus {
    color: $pink;
  }
}

ul,
ol {
  li {
    margin-bottom: 1rem;

    > ul,
    ol {
      margin-top: 1rem;
    }

    > pre {
      margin-top: 0.75rem;
    }
  }
}

main {
  flex: 1 0 auto;
}

.site-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  align-items: center;

  position: sticky;
  top: 0;

  z-index: 10;

  padding: 1rem 2rem;

  background: $black;
  border-bottom: 0.5rem solid;
  box-shadow: var(--box-shadow);
  border-image: $border-gradient 10;

  color: $white;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 4.25rem;

    margin-right: 1rem;

    border: none;

    @media (max-width: 767px) {
      width: 3rem;
    }
  }

  a {
    display: block;

    text-decoration: none;

    color: $white;

    &:visited {
      color: $white;
    }

    &:hover,
    &:focus {
      color: $yellow;

      transform: translateY(-1rem);
      transition: transform 0.5s ease-in-out;
    }
  }

  .site-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / 2;

    font-size: 2rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

// Navigation
  nav {
    grid-row: 1;
    grid-column: 2 / 3;

    justify-self: flex-end;

    ul {
      display: flex;
      align-items: flex-end;

      list-style: none;

      li {
        margin-right: 1rem;
        margin-bottom: 0;

        font-weight: 700;
      }
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 1rem;

  text-align: center;

  p {
    margin: 0 0 0.5rem 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

// Footer Social Media List
.social-media-list {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding-left: 0;

  svg {
    height: 2rem;
    fill: $blue;
  }

  li {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a {
      &:hover,
      &:focus {
        svg {
          fill: $pink;
        }
      }
    }
  }
}

// Home page - Banner
.banner {
  min-height: 12rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 3rem 2rem 1rem 2rem;

  background: lighten($black, 5%);

  text-align: center;
}

// Articles
.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  article {
    width: 20rem;
    min-height: 15rem;

    flex: 1 0 auto;

    padding: 1rem;
    margin: 1rem 1rem 1rem 0;

    position: relative;

    background-color: $white;
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;

    color: $black;

    transition: all 0.2s ease-in-out;

    @media (max-width: 767px) {
      margin: 1rem 0;
    }

    .tags {
      margin-top: 0.75rem;
      align-items: center;
    }

    .taglist {
      a {
        color: $black;
        font-size: 1rem;

        &:hover,
        &:focus {
          opacity: 0.9;
          font-weight: 700;
        }
      }
    }
    .btn-link {
      position: absolute;

      left: 0.5rem;
      bottom: 0.55rem;
    }

    $colors: $blue, $pink, $yellow, $green, $purple;
    $length: length($colors);

    @for $i from 1 through $length {
      &:nth-child(#{$length}n + #{$i}) {
        header {
          background: nth($colors, $i);
          border-radius: 0.25rem;

          position: relative;

          &:after {
            content: '';

            width: 100%;
            height: 3rem;

            position: absolute;
            bottom: -2.5rem;
            left: 0;

            background: nth($colors, $i);
            clip-path: polygon(
              100% 0%,
              0% 0%,
              0% 62%,
              1% 61.96%,
              2% 61.83%,
              3% 61.63%,
              4% 61.34%,
              5% 60.97%,
              6% 60.53%,
              7% 60.02%,
              8% 59.43%,
              9% 58.78%,
              10% 58.07%,
              11% 57.3%,
              12% 56.48%,
              13% 55.62%,
              14% 54.72%,
              15% 53.78%,
              16% 52.82%,
              17% 51.84%,
              18% 50.85%,
              19% 49.85%,
              20% 48.85%,
              21% 47.86%,
              22% 46.89%,
              23% 45.93%,
              24% 45.01%,
              25% 44.12%,
              26% 43.27%,
              27% 42.46%,
              28% 41.71%,
              29% 41.02%,
              30% 40.39%,
              31% 39.82%,
              32% 39.33%,
              33% 38.91%,
              34% 38.57%,
              35% 38.3%,
              36% 38.12%,
              37% 38.02%,
              38% 38%,
              39% 38.07%,
              40% 38.22%,
              41% 38.45%,
              42% 38.76%,
              43% 39.15%,
              44% 39.62%,
              45% 40.15%,
              46% 40.76%,
              47% 41.43%,
              48% 42.16%,
              49% 42.94%,
              50% 43.77%,
              51% 44.65%,
              52% 45.56%,
              53% 46.5%,
              54% 47.47%,
              55% 48.46%,
              56% 49.45%,
              57% 50.45%,
              58% 51.45%,
              59% 52.43%,
              60% 53.4%,
              61% 54.35%,
              62% 55.27%,
              63% 56.15%,
              64% 56.98%,
              65% 57.77%,
              66% 58.5%,
              67% 59.18%,
              68% 59.79%,
              69% 60.33%,
              70% 60.81%,
              71% 61.2%,
              72% 61.52%,
              73% 61.76%,
              74% 61.92%,
              75% 61.99%,
              76% 61.98%,
              77% 61.89%,
              78% 61.72%,
              79% 61.46%,
              80% 61.13%,
              81% 60.72%,
              82% 60.23%,
              83% 59.67%,
              84% 59.05%,
              85% 58.36%,
              86% 57.61%,
              87% 56.82%,
              88% 55.97%,
              89% 55.08%,
              90% 54.16%,
              91% 53.21%,
              92% 52.23%,
              93% 51.25%,
              94% 50.25%,
              95% 49.25%,
              96% 48.25%,
              97% 47.27%,
              98% 46.31%,
              99% 45.37%,
              100% 44.47%
            );
          }
        }

        .btn-link {
          color: $white;

          &:hover,
          &:focus {
            color: nth($colors, $i);
            border-color: nth($colors, $i);
          }
        }
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:only-child {
      margin-right: 0;
    }

    header {
      min-height: 5rem;

      padding: 1.25rem;
      margin-bottom: 2.5rem;
      margin-left: -1rem;
      margin-top: -1rem;
      margin-right: -1rem;

      h2 {
        margin: 0;

        font-size: 1.5rem;
      }

      time {
        font-weight: 700;
      }
    }

    p {
      margin-bottom: 3rem;

      font-size: 1.25rem;
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  @media (max-width: 767px) {
    justify-content: center;
  }
}

// Buttons
.btn-link {
  padding: 0.25rem 1rem;

  background-color: $black;
  border-radius: 25rem;

  font-weight: 700;
  text-decoration: none;

  border: 0.2rem solid $white;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $white;
    background-color: $black;

    opacity: 0.9;
  }
}


// Tags

.tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  h2 {
    margin-top: 0;
    margin-right: 0.5rem;

    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.5rem;

    margin-top: 0;
    margin-right: 0.25rem;
    margin-bottom: 0;
  }
}

.taglist {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  font-style: italic;
  text-transform: capitalize;

  li {
    margin-bottom: 0;
    margin-right: 0.25rem;
    &:not(:last-child) {
      &:after {
        content: ',';
      }
    }
  }
}

.tag {
  text-transform: capitalize;
  font-style: italic;
}

#title {
  margin-bottom: 0.25rem;
}

// Layout+

.float-right {
  float: right;
  margin-left: 2rem;
}

.layout-post {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;

  h1 {
    margin-bottom: 0;
  }

  .inner {
    max-width: 1400px;
    width: 100%;
  }

  .article-wrapper {
    width: 100%;
  }

  article {
    &:only-child {
      max-width: 20rem;
    }
  }
}

.layout-home {
  .article-wrapper {
    margin: 1rem;

    justify-content: center;
  }

  article {
    max-width: 20rem;
  }
}

.list-columns {
  width: 100%;

  @media (min-width: 767px) {
    width: 45rem;

    height: 15rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

img {
  border: $blue 0.25rem solid;
}

.active {
  border-bottom: 0.25rem solid $pink;
  font-size: 1.5rem;
}

// Animations
@keyframes scaleHover {
  0% {
    transform: none;
  }

  100% {
    transform: scale(1.1);
  }
}


// Code
pre {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin: 0;

  background-color: $white;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);

  color: $black;

  font-size: 1rem;

  code {
    white-space: pre-wrap !important;
  }
}

// Callouts & Examples

.callout {
  padding: 1rem;
  margin: 1rem 0;

  background-color: $blue;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);

  color: $black;
}

.example {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin-bottom: 1rem;

  background-color: $white;
  border-radius: 0.25rem;

  box-shadow: var(--box-shadow);

  color: $black;

  img {
    max-width: 10rem;
    border: 0;
  }

  pre, code {
    margin-top: 1rem;
    background-color: $black;

    color: $white;
  }
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    &.prev {
      margin-right: 1rem;
      margin-left: -1rem;
    }

    &.next {
      margin-left: 1rem;
    }
  }

}

// Accessibily/Screen reader

.skip-content {
  width: 26em;

  display: block;
  position: absolute;
  left: -1000em;
  top: 0;

  padding: 5px;

  background: #333;

  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.skip-content:focus {
  left: 0;
  z-index: 5000;

  color: $black !important;
  background-color: $pink;
  border: $blue solid 0.1rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

